.section{
    padding-bottom: 10rem;
}

.section__header{
    padding: 4rem;
    display: flex;
    justify-content: center;
}

.section__h2{
    font-size: 10rem;
    font-family: 'Lateef', cursive;
    font-weight: 400;
    color: #CFD2CF;
}

.section__wrapper{
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;

}